<div class="parent">
  <div class="layer"></div>
  <div class="container">
    <div class="row box">
      <div class="child1">
        <div class="logo d-flex align-items-center mt-3 mb-5">
          <img src="../../../assets/logo-light.png" alt="logo">
          <h5 class="m-0 fw-bold">AUTOGEN</h5>
        </div>
        <!-- forget password -->
        <div id="forgetContent">
          <div class="content">
            <div class="text">

              <h2>Forgot Password?</h2>
              <p>No worries, we'll send you reset instructions.</p>
            </div>

            <form class="login-form" #userForget="ngForm" ngNativeValidate (ngSubmit)="onForget(userForget.value)">
              <div class="mb-2">
                <label>Email</label>
                <input type="email" id="email-forget" class="form-control" placeholder="address@email.com"
                  pattern="^\w(\.?\w){2,}@[a-z]{2,10}\.com$" [class.is-invalid]="emailF.invalid && emailF.touched"
                  #emailF="ngModel" name="email" [ngModel] required [disabled]="loading">
                <div *ngIf="emailF.errors && emailF.touched">
                  <small class="text-danger" *ngIf="emailF.errors?.['required']">Email is required</small>
                  <small class="text-danger" *ngIf="emailF.errors?.['pattern']">Please enter valid
                    email</small>
                </div>
              </div>

              <button class="btn d-block border-0 text-white form-control submit" type="submit" [disabled]="loading">
                <span class="spinner me-2" *ngIf="loading">
                  <i class="fa-solid fa-circle-notch fa-spin"></i>
                </span>
                <span class="">Reset Password</span>
              </button>

              <div id="backLogin" (click)="backLogin()">
                <i class="fa-solid fa-arrow-left"></i>
                <p>Back to login</p>
              </div>

            </form>
          </div>
        </div>
        <!-- end forget password -->
      </div>
      <div class="child2">
      </div>
    </div>
  </div>
</div>