<div class="d-flex flex-column align-items-center align-items-sm-start pt-2 text-white sidebar">

  <ul class="nav nav-list flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start w-100" id="menu">

    <li class="nav-item w-100 p-2" routerLinkActive="selected" title="MY Profile">
      <a href="#" class="nav-link align-middle px-0 text-lg-start text-center" routerLink="/profile/myProfile">
        <i class="fa-solid fa-user me-2"></i>
        <span class="ms-1 d-none d-lg-inline">MY Profile</span>
      </a>
    </li>

    <li class="nav-item w-100 p-2" routerLinkActive="selected" title="MY Cars">
      <a href="#" class="nav-link px-0 align-middle text-lg-start text-center" routerLink="/profile/myCars">
        <i class="fa-solid fa-car me-2"></i><span class="ms-1 d-none d-lg-inline">MY Cars</span>
      </a>
    </li>

    <ng-container *ngIf="user.name=='user'">
      <li class="nav-item w-100 p-2" routerLinkActive="selected" title="Pending Bookings">
        <a href="#" class="nav-link align-middle px-0 text-lg-start text-center" routerLink="/profile/pendingBookings">
          <i class="fa-solid fa-clock me-2"></i>
          <span class="ms-1 d-none d-lg-inline">Pending Bookings</span>
        </a>
      </li>

      <li class="nav-item w-100 p-2" routerLinkActive="selected" title="MY Bookings">
        <a href="#" class="nav-link align-middle px-0 text-lg-start text-center" routerLink="/profile/myBookings">
          <i class="fa-solid fa-circle-check me-2"></i>
          <span class="ms-1 d-none d-lg-inline">MY Bookings</span>
        </a>
      </li>
    </ng-container>

<li class="nav-item w-100 p-2" routerLinkActive="selected" title="Add Car">
      <a href="#" class="nav-link px-0 align-middle text-lg-start text-center" routerLink="/profile/addCar">
        <i class="fa-solid fa-plus me-2"></i><span class="ms-1 d-none d-lg-inline">Add Car</span></a>
    </li>
    <li class="nav-item w-100 p-2" routerLinkActive="selected" title="Required Cars">
      <a href="#" class="nav-link px-0 align-middle text-lg-start text-center" routerLink="/profile/requiredCars">
        <i class="fa-solid fa-clipboard-list me-2"></i><span class="ms-1 d-none d-lg-inline">Required Cars</span>
      </a>
    </li>

    <li class="nav-item w-100 p-2" routerLinkActive="selected" title="Reserved Cars">
      <a href="#" class="nav-link px-0 align-middle text-lg-start text-center" routerLink="/profile/reservedCars">
        <i class="fa-solid fa-clipboard-check me-2"></i><span class="ms-1 d-none d-lg-inline">Reserved Cars</span>
      </a>
    </li>
  </ul>

</div>