#resetPassword .content {
    height: 565px;
}

#backLogin {
    display: flex;
    cursor: pointer;
    color: rgba(62, 76, 92, .8);
    display: flex;
    justify-content: center;
    align-items: center;
}


#backLogin:hover {
    color: #262f39;
}

.cursor-pointer{
    cursor: pointer;
}