#backLogin {
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: rgba(62, 76, 92 ,.8);
}

#backLogin:hover {
    color: #262f39;
}

.fa-arrow-left {
    font-size: 13px;
    padding: 5px 10px;
}