<div class="d-flex flex-column align-items-center align-items-sm-start pt-2 text-white h-100 sidebar">
  <ul class="nav nav-list flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start w-100" id="menu">

    <li class="nav-item w-100 p-2" routerLinkActive="selected" title="Users">
      <a href="#" class="nav-link px-0 align-middle text-lg-start text-center" routerLink="/users">
        <i class="fa-solid fa-users me-2"></i><span class="ms-1 d-none d-lg-inline">Users</span>
      </a>
    </li>

    <li class="nav-item w-100 p-2" routerLinkActive="selected" title="Cars">
      <a href="#" class="nav-link px-0 align-middle text-lg-start text-center" routerLink="/allCars">
        <i class="fa-solid fa-car me-2"></i><span class="ms-1 d-none d-lg-inline">Cars</span>
      </a>
    </li>

    <li class="nav-item w-100 p-2" routerLinkActive="selected" title="Cars Waiting Approval">
      <a href="#" class="nav-link px-0 align-middle text-lg-start text-center" routerLink="/CarsWaitingApproval">
        <i class="fa-solid fa-clipboard-list me-2"></i><span class="ms-1 d-none d-lg-inline">Cars Waiting Approval</span>
      </a>
    </li>

    <li class="nav-item w-100 p-2" routerLinkActive="selected" title="Subscriptions">
      <a href="#" class="nav-link px-0 align-middle text-lg-start text-center" routerLink="/allSubscription">
        <i class="fa-solid fa-clipboard-list me-2"></i><span class="ms-1 d-none d-lg-inline">Subscriptions</span>
      </a>
    </li>

    <li class="nav-item w-100 p-2" routerLinkActive="selected" title="Paid Subscriptions">
      <a href="#" class="nav-link px-0 align-middle text-lg-start text-center" routerLink="/paidSubscriptions">
        <i class="fa-solid fa-credit-card me-2"></i><span class="ms-1 d-none d-lg-inline">Paid Subscriptions
        </span>
      </a>
    </li>

    <li class="nav-item w-100 p-2" routerLinkActive="selected" title="Expired subscriptions">
      <a href="#" class="nav-link px-0 align-middle text-lg-start text-center" routerLink="/expiredSubscriptions">
        <i class="fa-solid fa-hourglass-end me-2"></i><span class="ms-1 d-none d-lg-inline">Expired subscriptions
        </span>
      </a>
    </li>
    
    <li class="nav-item w-100 p-2" routerLinkActive="selected" title="Charts">
      <a href="#" class="nav-link align-middle px-0 text-lg-start text-center" routerLink="/charts">
        <i class="fa-solid fa-chart-simple me-2"></i><span class="ms-1 d-none d-lg-inline">Charts</span>
      </a>
    </li>
  </ul>
</div>