<footer class="footer" (click)="dropList()">
  <div class="container-fluid">
    <div class="row">

      <div class="social-network d-flex justify-content-between">
        <p class="text-capitalize">Get connected with us on social network </p>
        <p class="ms-lg-0 ">
          <a href="#"><i class="fa-solid mx-2 fa-envelope"></i></a>
          <a href="#"><i class="fa-brands mx-2 fa-facebook"></i></a>
          <a href="#"><i class="fa-brands mx-2 fa-instagram"></i></a>
          <a href="#"><i class="fa-brands mx-2 fa-telegram"></i></a>
          <a href="#"><i class="fa-brands mx-2 fa-youtube"></i></a>
        </p>
      </div>
    </div>

    <div class="row details">
      <div class="col-lg-4">
        <div class="logo">
          <img src="../assets/logo-light.png" alt="logo">
          <h3 class="ms-2">AutoGen</h3>
        </div>
        <ul>
          <li class="text-details">
            Discover the freedom of the open road with AutoGen Car Rentals. Whether you're
            planning a weekend getaway, a business trip, or an extended vacation, we've got the perfect ride for you.
          </li>
        </ul>
      </div>

      <div class="col-lg-2 border-footer">
        <div class="list">
          <div class="arrow">
            <h6>Company</h6>
            <i class="fa fa-angle-down"></i>
          </div>
          <ul>
            <li class="link ">
              <a href="#" class="text-grey ">About Us </a>
            </li>
            <li class="link">
              <a class="text-grey" href="#">Blog </a>
            </li>
            <li class="link">
              <a class="text-grey" href="#">Contact </a>
            </li>
            <li class="link">
              <a class="text-grey" href="#">Join Us </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-2 border-footer">
        <div class="list">
          <div class="arrow">
            <h6>Locations</h6>
            <i class="fa fa-angle-down"></i>
          </div>
          <ul>
            <li class="link">
              <a class="text-grey" href="#">Countries</a>
            </li>
            <li class="link">
              <a class="text-grey" href="#">Regions </a>
            </li>
            <li class="link">
              <a class="text-grey" href="#">Cities</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-2">
        <div class="list">
          <div class="arrow">
            <h6>Press Center</h6><i class="fa fa-angle-down"></i>
          </div>
          <ul>
            <li class="link">
              <a class="text-grey" href="#">news</a>
            </li>
            <li class="link">
              <a class="text-grey" href="#">article</a>
            </li>
            <li class="link">
              <a class="text-grey" href="#">blog</a>
            </li>
            <li class="link">
              <a class="text-grey" href="#">review</a>
            </li>
            <li class="link">
              <a class="text-grey" href="#">privacy policy</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer-bottom text-center py-4">
      <p class="copyrights">Copyrights &copy;&nbsp;2023 &nbsp;<span>AutoGen.com</span></p>

    </div>
  </div>
</footer>